
#navlist{
    padding-left: 20%;
}
#search1{
   
}
#form1{
    width: 100%;
}

#hero{
    background-image: url(../img/hero-bg.jpg);
    padding-top: 30px;
}
.card{
    background-color: transparent;
    border: none;
    color: white;
    
}
@media screen and (max-width:520) {
    .phone-1{
        display: none;
    }
    
}